* {
  font-family: 'Arial', sans-serif;
  box-sizing: border-box;
}

body {

  background-image: url('starry.jpeg');
  background-size: cover;
  height: 100vh;
  margin: auto;
  font-size: 28px;
}

main {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

h2,
h3 {
  margin: 3% 0;
}

h2 {
  font-size: 1.8em;
}

h1 {
  margin: auto;
  margin-bottom: 5%;
}

h3 {
  color: white;
}

h1,
h3 {
  width: fit-content;
}

article {
  background: white;
  height: 32.3%;
  width: 32.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

article:hover,
button:hover {
  cursor: pointer;
}

.disabled {
  cursor: default!important;
}

button:hover {
  background-color: #4C5482;
}

article p {
  font-size: 2.5em;
  margin: 0;
}

div {
  display: flex;
  justify-content: center;
  margin-top: 4%;
}

button {
  background: #03113C;
  color: #ffffff;
  border: 0;
  border-radius: 2px;
  padding: 1.2% 2%;
  width: 30%;
}

.wins {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}

.game {
  background: white;
  height: 100%;
  width: 50%;
  padding: 1% 6% 1.5% 6%;
  display: flex;
  flex-direction: column;
}

.grid {
  background-image: url('starry.jpeg');
  background-size: 250%;
  background-position: center;
  height: 77%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
