* {
  box-sizing: border-box;
  font-family: 'Kalam';
}

body {
  background-blend-mode: multiply;
  background-color: rgb(0,0,0, 0.1);
  background-image: url('starry.jpeg');
  background-size: cover;
  font-size: 28px;
  height: 100vh;
  margin: auto;
}

main {
  height: 100%;
  justify-content: space-evenly;
}

main,
article,
div,
.wins,
.game,
.grid {
  display: flex;
}

article,
div {
  justify-content: center;
}

.wins,
.game {
  flex-direction: column;
}

h1 {
  margin: auto;
  margin-bottom: 5%;
}

h2 {
  font-size: 2em;
}

h2,
h3 {
  margin: 3% 0;
}

h3 {
  color: white;
}

div {
  margin-top: 4%;
}

article {
  background: white;
  height: 32.3%;
  width: 32.3%;
  align-items: center;
}

article p {
  font-size: 2.5em;
}

button {
  background: #03113C;
  color: #ffffff;
  border: 0;
  border-radius: 2px;
  padding: 1.2% 2%;
  width: 30%;
}

article:hover,
button:hover {
  cursor: pointer;
}

button:hover {
  background-color: #4C5482;
}

.disabled {
  cursor: default !important;
}

.wins {
  align-items: center;
  padding: 2%;
  width: 20%;
}

.game {
  background: white;
  width: 50%;
  padding: 1% 6% 1.5% 6%;
}

.grid {
  background-image: url('starry.jpeg');
  background-position: center;
  background-size: 275%;
  height: 77%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
